:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  padding: 0 10px;
}

.crypto-card {
  width: 100%;
  max-width: 800px;
  margin-block-start: 50px;

  &__content {
    display: flex;
    padding: 16px;
    gap: 10px;

    mat-form-field {
      width: 100%;
    }
  }
}
